@import "./modern-normalize.css";
@import "./reset-some-values.css";

* {
    margin: 0;
    padding: 0;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; /*400*/
    font-style: normal;
}

:root {
    --light: #f5f5f7;
    --dark: #221f20;

    --container-padding-inline: 13%;
    --footer_padding-inline: 10%;

    --display-welcome: block; /*block none*/
    --display-expectations: block;
    --display-services: block;
    --display-works: block;
    --display-inspiration: block;
    --display-customers: block;
    --display-footer: flex; /*flex*/
}

html,
body {
    color: var(--dark);
    background-color: var(--light);
    scroll-behavior: smooth;
}

.container {
    /* width: 1420px; */
    padding: 0 var(--container-padding-inline);
}

.telephone,
.telephone:visited {
    font-weight: inherit;
    text-decoration: none;
    color: var(--light);
}
.telephone:hover {
    text-decoration: underline;
}

.welcome {
    display: var(--display-welcome);
    height: 100vh;
    background-color: black;
    color: var(--light);
    position: relative;
    z-index: 0;
    padding-top: 75px;

    .welcome__bckg-img {
        position: absolute;
        right: 211px;
        top: 0px;
        z-index: 1;
        width: 1330px;
    }

    .container {
        z-index: 2;
        position: relative;
    }

    .welcome__header {
        font-size: 60px;
        text-transform: uppercase;
    }

    .welcome_subheader {
        margin-top: 124px;

        font-size: 32px;
        font-weight: 100;
    }

    .welcome__portfolio-btn,
    .welcome__portfolio-btn:visited {
        margin-top: 20px;
        display: block;
        width: 160px;
        min-height: 38px;

        color: var(--light);
        text-decoration: none;
        font-weight: 300;
        border: 1px solid var(--light);
        /* center text in button */
        text-align: center;
        line-height: 38px;

        cursor: pointer;
    }
    .welcome__portfolio-btn:hover {
        font-weight: 500;
        box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
        transition: all 0.3s ease-out;
    }

    .welcome__address-wrapper {
        margin-top: 100px;
        font-weight: 300;
        position: relative;
        &::before {
            --arrow-icon-width: 40px;

            content: "";
            width: var(--arrow-icon-width);
            height: 49px;
            position: absolute;
            background-image: url("../icons/Arrow.svg");
            background-size: contain;
            background-repeat: no-repeat;

            width: var(--arrow-icon-width);
            left: calc(-5px - var(--arrow-icon-width));
            top: -8px;
        }

        .welcome__location {
            font-weight: inherit;
        }

        .welcome__address {
            font-weight: inherit;
        }
    }

    .welcome__keywords-box {
        position: absolute;
        padding: 0 var(--container-padding-inline);
        /* padding: 0 360px; */
        /* width: 1420px; */
        bottom: 0;
        left: 0px;
        width: 100%;

        display: flex;
        justify-content: space-around;

        list-style-type: none;
        li {
            font-weight: 100;
            font-size: 10px;
        }
    }
}

.expectations {
    display: var(--display-expectations);
    padding-top: 80px;
    .expectations__subheader {
        font-style: italic;
        font-size: 12px;
    }
    .expectations__text {
        width: 1100px;
        font-size: 40px;
        span {
            color: #a5a5a5;
        }
    }
}

.services {
    display: var(--display-services);
    padding-top: 80px;
    .services__header {
        font-style: italic;
    }
    .services__container {
        margin-top: 20px;
    }
    .services__item {
        position: relative;
        list-style-type: none;
    }
    .services__img {
        --services-img-width: 15px;
        width: var(--services-img-width);
        left: calc(-15px - var(--services-img-width));

        top: 4px;
        position: absolute;
    }
    .container {
        display: flex;
        column-gap: 20px;
    }
    .services__wrapper {
        width: 50%;
    }
    .services__description {
        width: 50%;
        font-size: 20px;
    }
}

.works {
    display: var(--display-works);
    padding-top: 80px;
    text-align: center;
    font-size: 40px;
    .works__header {
        span {
            position: relative;
        }
        span::after {
            content: "";
            position: absolute;
            width: 75px;
            height: 4px;
            background-color: black;

            right: 0;
            bottom: 0;
        }
    }
    .works__img-grid {
        margin-top: 53px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.6vw 1.56vw;
        overflow: hidden;
    }

    .works__img {
        width: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
}

.inspiration {
    display: var(--display-inspiration);
    padding-top: 80px;
    .inspiration__header {
        font-size: 40px;
        text-align: center;
        span {
            position: relative;
        }
        span::after {
            content: "";
            position: absolute;
            width: 75px;
            height: 4px;
            background-color: black;

            right: 0;
            bottom: 0;
        }
    }
    .inspiration__img_container {
        margin-top: 53px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 1.56vw;

        .inspiration__img {
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        }
    }
    .inspiration__img--two-rows {
        grid-row: span 2;
    }
    .inspiration__img--two-cols {
        grid-column: span 2;
    }
}

.customers {
    display: var(--display-customers);
    padding: 80px 0 100px 0;

    .customers__header {
        font-size: 40px;
        text-align: center;
        span {
            position: relative;
        }
        span::after {
            content: "";
            position: absolute;
            width: 75px;
            height: 4px;
            background-color: black;

            right: 0;
            bottom: 0;
        }
    }
    .customers__img-container {
        margin-top: 53px;
        display: flex;
        justify-content: flex-start;
        /* display: grid;
        grid-template-columns: repeat(4, 1fr); */
        column-gap: 1.56vw;
    }
}

.footer {
    display: var(--display-footer);
    background-color: #000;
    color: var(--light);
    height: 200px;
    justify-content: space-between;
    padding: 0 var(--footer_padding-inline);

    .footer--centered {
        display: grid;
        place-items: center;
    }

    .footer__social-container {
        display: flex;
        gap: 2.08vw;
        .footer__img-wrapper {
            width: 32px;
            height: 32px;
            border: 1px solid var(--light);
            display: grid;
            place-items: center;

            img {
                width: 22px;
                height: 22px;
            }
        }
    }
    .footer__address {
        display: grid;
        place-items: center;
    }
    .telephone {
        display: grid;
        place-items: center;
    }
}
