@import "./modern-normalize.css";
@import "./reset-some-values.css";

* {
    margin: 0;
    padding: 0;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; /*400*/
    font-style: normal;
}

:root {
    --light: #f5f5f7;
    --dark: #221f20;

    --container-padding-inline: 13%;
    --footer_padding-inline: 10%;

    --display-welcome: block; /*block none*/
    --display-expectations: block;
    --display-services: block;
    --display-works: block;
    --display-inspiration: block;
    --display-customers: block;
    --display-footer: none; /*flex*/

    @media screen and (max-width: 768px) {
        --container-padding-inline: 6%;
        --footer_padding-inline: 6%;
    }
}

html,
body {
    color: var(--dark);
    background-color: var(--light);
    scroll-behavior: smooth;
}

.container {
    /* width: 1420px; */
    padding: 0 var(--container-padding-inline);
}

.telephone,
.telephone:visited {
    font-weight: inherit;
    text-decoration: none;
    color: var(--light);
}
.telephone:hover {
    text-decoration: underline;
}

.welcome {
    display: var(--display-welcome);
    height: 100vh;
    background-color: black;
    color: var(--light);
    position: relative;
    z-index: 0;
    padding-top: 75px;
    overflow: hidden;

    .welcome__bckg-img {
        position: absolute;
        left: 19.74vw;
        bottom: -11px;
        z-index: 1;
        /* width: 1330px; */
    }
    .welcome__bckg-tablet-img {
        display: none;
        position: absolute;
        z-index: 1;
    }
    .welcome__bckg-mobile-img {
        display: none;
        position: absolute;
        z-index: 1;
    }

    .container {
        z-index: 2;
        position: relative;
    }

    .welcome__header {
        font-size: 60px;
        text-transform: uppercase;
    }

    .welcome_subheader {
        margin-top: 124px;

        font-size: 32px;
        font-weight: 100;
    }

    .welcome__portfolio-btn,
    .welcome__portfolio-btn:visited {
        margin-top: 20px;
        display: block;
        width: 160px;
        min-height: 38px;

        color: var(--light);
        text-decoration: none;
        font-weight: 300;
        border: 1px solid var(--light);
        /* center text in button */
        text-align: center;
        line-height: 38px;

        cursor: pointer;
    }
    .welcome__portfolio-btn:hover {
        font-weight: 500;
        box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
        transition: all 0.3s ease-out;
    }

    .welcome__address-wrapper {
        margin-top: 100px;
        font-weight: 300;
        position: relative;
        &::before {
            --arrow-icon-width: 40px;

            content: "";
            width: var(--arrow-icon-width);
            height: 49px;
            position: absolute;
            background: url("../icons/Arrow.svg") no-repeat center / contain;

            width: var(--arrow-icon-width);
            left: calc(-5px - var(--arrow-icon-width));
            top: -12px;
        }

        .welcome__location {
            font-weight: inherit;
        }

        .welcome__address {
            font-weight: inherit;
        }
    }

    .welcome__keywords-box {
        position: absolute;
        padding: 0 18.75vw;
        /* padding: 0 360px; */
        /* width: 1420px; */
        bottom: 0;
        left: 0px;
        width: 100%;
        z-index: 2;

        display: flex;
        justify-content: space-around;

        list-style-type: none;
        li {
            font-weight: 100;
            font-size: 10px;
        }

        @media screen and (max-width: 1024px) {
            padding: 0 15px;
        }
    }

    @media screen and (max-width: 1440px) {
        .welcome__bckg-img {
            left: 8vw;
        }
        .welcome__keywords-box {
            padding: 0 12vw;
        }
    }
    @media screen and (max-width: 1024px) {
        .welcome__header {
            font-size: 48px;
        }
        .welcome__keywords-box {
            padding: 0 15px;
        }
        .welcome_subheader {
            margin-top: 80px;
        }
        .welcome__address-wrapper {
            margin-top: 80px;
        }
    }
    @media screen and (max-width: 768px) {
        .welcome__header {
            font-size: 48px;
        }
        .welcome_subheader {
            margin-top: 80px;
        }
        .welcome__bckg-img {
            display: none;
        }
        .welcome__bckg-tablet-img {
            display: block;
            left: 0;
            bottom: -0;
        }
        .welcome__address-wrapper {
            margin-top: 80px;
            font-weight: 100;
            &::before {
                display: none;
            }
        }
        .welcome__keywords-box {
            & li:nth-child(n) {
                display: none;
            }

            & li:nth-child(-n + 9) {
                display: list-item;
            }
        }
    }

    @media screen and (max-width: 500px) {
        .welcome__header {
            font-size: 26px;
        }
        .welcome_subheader {
            margin-top: 30px;
            font-size: 16px;
        }
        .welcome__address-wrapper {
            margin-top: 233px;
        }

        .welcome__portfolio-btn,
        .welcome__portfolio-btn:visited {
            min-height: 30px;
            font-size: 14px;
        }
        .welcome__bckg-tablet-img {
            display: none;
        }
        .welcome__bckg-mobile-img {
            display: block;
            bottom: 0;
            right: 0;
        }
    }

    @media screen and (max-width: 425px) {
        .welcome__keywords-box {
            & li:nth-child(n) {
                display: none;
            }

            & li:nth-child(-n + 4) {
                display: list-item;
            }
        }
        .welcome__address-wrapper {
            margin-top: 43px;
        }
    }
}

.expectations {
    display: var(--display-expectations);
    padding-top: 80px;
    .expectations__subheader {
        font-style: italic;
        font-size: 12px;
    }
    .expectations__text {
        margin-top: 20px;
        width: 1100px;
        font-size: 40px;
        span {
            color: #a5a5a5;
        }
    }

    @media screen and (max-width: 1440px) {
        .expectations__text {
            width: 100%;
        }
    }
    @media screen and (max-width: 1024px) {
        .expectations__text {
            font-size: 24px;
        }
    }
    @media screen and (max-width: 500px) {
        .expectations__text {
            font-size: 16px;
        }
    }
}

.services {
    display: var(--display-services);
    padding-top: 80px;
    .services__header {
        font-style: italic;
    }
    .services__container {
        margin-top: 20px;
    }
    .services__item {
        position: relative;
        list-style-type: none;
    }
    .services__img {
        --services-img-width: 15px;
        width: var(--services-img-width);
        left: calc(-15px - var(--services-img-width));

        top: 4px;
        position: absolute;
        object-fit: cover;
    }
    .container {
        display: flex;
        column-gap: 20px;
    }
    .services__wrapper {
        width: 50%;
    }
    .services__description {
        width: 50%;
        font-size: 20px;
    }

    @media screen and (max-width: 768px) {
        .container {
            flex-direction: column;
            row-gap: 40px;
        }
        .services__img {
            left: calc(-10px - var(--services-img-width));
        }
        .services__wrapper {
            width: 100%;
        }
        .services__description {
            width: 100%;
        }
    }

    @media screen and (max-width: 500px) {
        padding-top: 40px;

        .services__header {
            font-size: 12px;
        }
        .expectations__text {
            font-size: 16px;
        }
        .services__item {
            font-size: 14px;
            margin-top: 5px;
        }
        .services__description {
            font-size: 12px;
        }
        .services__img {
            display: none;
        }
    }
}

.works {
    display: var(--display-works);
    padding-top: 80px;
    text-align: center;
    font-size: 40px;
    .works__header {
        span {
            position: relative;
        }
        span::after {
            content: "";
            position: absolute;
            width: 75px;
            height: 4px;
            background-color: black;

            right: 0;
            bottom: -3px;
        }
    }
    .works__img-grid {
        margin-top: 53px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.6vw 1.56vw;
        overflow: hidden;
    }

    .works__img {
        width: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
    @media screen and (max-width: 768px) {
        font-size: 36px;
    }
    @media screen and (max-width: 500px) {
        font-size: 24px;
    }
    @media screen and (max-width: 500px) {
        .works__img-grid {
            grid-template-columns: 1fr;
        }
    }
}

.inspiration {
    display: var(--display-inspiration);
    padding-top: 80px;
    font-size: 40px;
    .inspiration__header {
        text-align: center;
        span {
            position: relative;
        }
        span::after {
            content: "";
            position: absolute;
            width: 75px;
            height: 4px;
            background-color: black;

            right: 0;
            bottom: -3px;
        }
    }
    .inspiration__img_container {
        margin-top: 53px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 1.56vw;

        .inspiration__img {
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        }
    }
    .inspiration__img--two-rows {
        grid-row: span 2;
    }
    .inspiration__img--two-cols {
        grid-column: span 2;
    }

    @media screen and (max-width: 768px) {
        font-size: 36px;
        .inspiration__img_container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, auto);
        }
    }
    @media screen and (max-width: 500px) {
        font-size: 24px;
        .inspiration__img_container {
            grid-template-columns: repeat(1, 1fr);
        }
        .inspiration__img {
            place-self: center;
        }
        .inspiration__img--two-rows {
            grid-row: span 1;
        }
        .inspiration__img--two-cols {
            grid-column: span 1;
        }
    }
}

.customers {
    display: var(--display-customers);
    padding: 80px 0 100px 0;
    font-size: 40px;
    .customers__header {
        text-align: center;
        span {
            position: relative;
        }
        span::after {
            content: "";
            position: absolute;
            width: 75px;
            height: 4px;
            background-color: black;

            right: 0;
            bottom: -3px;
        }
    }
    .customers__img-container {
        margin-top: 53px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.56vw;
    }
    .customers_img {
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 768px) {
        font-size: 36px;
    }
    @media screen and (max-width: 500px) {
        font-size: 24px;
    }
    @media screen and (max-width: 500px) {
        .customers__img-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.footer {
    display: var(--display-footer);
    justify-content: space-between;

    background-color: #000;
    color: var(--light);
    height: 200px;
    padding: 0 var(--footer_padding-inline);

    .footer--centered {
        display: grid;
        place-items: center;
    }

    .footer__social-container {
        display: flex;
        gap: 2.08vw;
        .footer__img-link {
            width: 32px;
            height: 32px;
            border: 1px solid var(--light);
            display: grid;
            place-items: center;

            img {
                width: 22px;
                height: 22px;
            }
        }
        .footer__img-link:hover {
            box-shadow: 3px 3px 3px 0px rgba(255, 255, 255, 0.62);
            transition: all 0.3s ease-out;
        }
    }
    .footer__address {
        display: grid;
        place-items: center;
    }
    .telephone {
        display: grid;
        place-items: center;
    }
}
